$font-base:'Open Sans', sans-serif;
$font-size-desktop-h1:3vh;
$font-size-desktop-h2:2vh;
$font-size-desktop-p:1.6vh;
$font-size-phone-h1:3vh;
$font-size-phone-h2:1.5vh;
$font-size-phone-p:1.5vh;
$font-size-tablet-h1:2.5vh;
$font-size-tablet-h2:1.5vh;
$font-size-tablet-p:1.7vh;
$font-size-desktop-h1-header:2.5rem;
$font-size-phone-h2-offer:1.3rem;
$font-size-phone-h2-plus:0.8rem;