$font-base:'Open Sans', sans-serif;




$font-size-desktop-h1:3rem;
$font-size-desktop-h2:2rem;
$font-size-desktop-p:1.5rem;

$font-size-phone-h1:2rem;
$font-size-phone-h2:1.3rem;
$font-size-phone-p:0.8rem;


$font-size-tablet-h1:2.5rem;
$font-size-tablet-h2:1.5rem;
$font-size-tablet-p:1.2rem;



$font-size-desktop-h1-header:2.5rem;
$font-size-phone-h2-offer:1.3rem;
$font-size-phone-h2-plus:0.8rem;