@charset "UTF-8";
.header {
  color: #ffffff;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header .container {
    align-items: center;
    flex-direction: column;
  }
}
.header .container .h1_hamburg {
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header .container .h1_hamburg {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.header .container h1 {
  font-size: 2em;
}
@media (max-width: 767px) {
  .header .container h1 {
    margin: 0.5em 0;
  }
}
.header .container .menu {
  display: flex;
  align-items: center;
  height: 4em;
}
@media (max-width: 767px) {
  .header .container .menu {
    flex-direction: column;
  }
}
.header .container .menu .menu_item {
  padding: 1.8em;
  margin: 0;
  border-radius: 2em;
  transition: opacity ease-in-out 0.3s, transform 0.5s;
}
@media (max-width: 767px) {
  .header .container .menu .menu_item {
    padding: 1em;
  }
}
.header .container .menu .menu_item:hover {
  opacity: 0.4;
  transform: scale(1.5);
}
.header .container .hamburger_menu_items {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .header .contact_header {
    display: none;
  }
}
.header .contact_header p:hover {
  color: yellow;
}

.header.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #09a9de;
}

.about_us {
  font-family: "Open Sans", sans-serif;
  height: 55vh;
}
.about_us .about_us_items {
  display: flex;
}
@media (max-width: 767px) {
  .about_us .about_us_items {
    flex-direction: column;
    align-items: center;
  }
}
.about_us .about_us_items .img1 {
  position: relative;
  right: 2em;
  top: 3em;
  width: 60em;
  opacity: 0.6;
  border-radius: 10em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}
@media (max-width: 767px) {
  .about_us .about_us_items .img1 {
    width: 100%;
    right: 0;
    border-radius: 4em;
  }
}
.about_us .about_us_items .img1:hover {
  transform: scale(1.05);
}
.about_us .about_us_items .about_us_text_item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 3em;
  left: 2em;
}
@media (max-width: 767px) {
  .about_us .about_us_items .about_us_text_item {
    left: 0;
  }
}
.about_us .about_us_items .about_us_text_item h1 {
  font-size: 4rem;
  text-align: center;
}
@media (max-width: 767px) {
  .about_us .about_us_items .about_us_text_item h1 {
    font-size: 2em;
  }
}
.about_us .about_us_items .about_us_text_item p {
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 767px) {
  .about_us .about_us_items .about_us_text_item p {
    margin: 0.5em;
    font-size: 1em;
  }
}
.about_us .about_us_items .about_us_text_item p:nth-of-type(2) {
  font-weight: bolder;
}
.about_us .about_us_items .about_us_text_item button {
  margin-top: 1em;
  border: none;
  padding: 1.5em 5em;
  border-radius: 3em;
  font-weight: bolder;
  font-size: 1.5rem;
  background: #09a9de;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: opacity ease-in-out 0.3s, transform 0.5s;
}
@media (max-width: 767px) {
  .about_us .about_us_items .about_us_text_item button {
    padding: 0.75em 3em;
    font-size: 1.5em;
    margin-top: 1em;
  }
}
.about_us .about_us_items .about_us_text_item button:hover {
  opacity: 0.4;
  transform: scale(1.1);
}

.offer {
  padding: 3em 0;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .offer {
    padding: 1.5em 0;
  }
}
.offer h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0.5em 0;
}
@media (max-width: 767px) {
  .offer h1 {
    font-size: 2em;
    margin: 0.25em 0;
  }
}
.offer .offer_items {
  display: flex;
}
@media (max-width: 767px) {
  .offer .offer_items {
    flex-direction: column;
  }
}
.offer .offer_items .offer_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  transition: transform 0.5s;
}
@media (max-width: 767px) {
  .offer .offer_items .offer_item {
    margin: 0.5em;
  }
}
.offer .offer_items .offer_item:hover {
  transform: scale(1.1);
}
.offer .offer_items .offer_item img {
  width: 30em;
  border-radius: 5em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .offer .offer_items .offer_item img {
    width: 15em;
    border-radius: 3em;
  }
}
.offer .offer_items .offer_item h2 {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .offer .offer_items .offer_item h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
}
.offer .offer_items .offer_item p {
  text-align: center;
  font-size: 1.5em;
}
@media (max-width: 767px) {
  .offer .offer_items .offer_item p {
    font-size: 1em;
  }
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7em;
  background: #d8e3ed;
  padding: 5em 0;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .plus {
    padding: 3em 0;
  }
}
.plus .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plus .container .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plus .container .top h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .plus .container .top h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}
.plus .container .top .h2_help_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus .container .top .h2_help_container h2 {
  font-size: 1.5rem;
  padding: 1em;
  margin: 1em 2em;
  font-weight: bolder;
  text-align: center;
  transition: transform 0.5s;
}
@media (max-width: 767px) {
  .plus .container .top .h2_help_container h2 {
    font-size: 0.8em;
    padding: 0.5em;
    margin: 0.5em 1em;
  }
}
.plus .container .top .h2_help_container h2:first-of-type {
  border: 1px solid #707070;
}
.plus .container .top .h2_help_container h2:hover {
  transform: scale(1.2);
}
.plus .container .examples {
  display: flex;
  justify-content: center;
  width: 120%;
  align-items: center;
  height: 326px;
}
@media (max-width: 767px) {
  .plus .container .examples {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
}
.plus .container .examples .example {
  width: 30em;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .plus .container .examples .example {
    width: 15em;
  }
}
.plus .container .examples .example .left_side {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1em;
}
.plus .container .examples .example .left_side h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}
@media (max-width: 767px) {
  .plus .container .examples .example .left_side h3 {
    font-size: 1em;
    text-align: center;
  }
}
.plus .container .examples .example .left_side p {
  font-size: 1.5em;
  text-align: center;
}
@media (max-width: 767px) {
  .plus .container .examples .example .left_side p {
    font-size: 1em;
    margin: 0;
  }
}
.plus .container .carousel_numbers {
  display: flex;
  position: relative;
}
@media (max-width: 767px) {
  .plus .container .carousel_numbers {
    margin-top: 1em;
  }
}
.plus .container .carousel_numbers .number {
  font-weight: bolder;
  width: 40px;
  height: 50px;
  margin: 2em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}
.plus .container .carousel_numbers .number:hover {
  transform: scale(1.5);
}

.Certificates {
  text-align: center;
  padding: 2em 0;
  font-family: "Open Sans", sans-serif;
  background: #d8e3ed;
}
.Certificates h1 {
  font-size: 4em;
  margin: 0;
}
@media (max-width: 767px) {
  .Certificates h1 {
    font-size: 2em;
  }
}
.Certificates .Certificates_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .Certificates .Certificates_items {
    flex-direction: row;
  }
}
.Certificates .Certificates_items .Certificates_item {
  margin: 2em;
  width: 20%;
  border-radius: 4em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .Certificates .Certificates_items .Certificates_item {
    border-radius: 2em;
    width: 70%;
  }
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .photos {
    padding: 2em 0;
  }
}
.photos .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .photos .container {
    flex-direction: column;
  }
}
.photos .container .photos_text {
  width: 40%;
}
.photos .container .photos_text h1 {
  font-size: 4rem;
  text-align: center;
}
@media (max-width: 767px) {
  .photos .container .photos_text h1 {
    font-size: 2rem;
  }
}
.photos .container .photos_text p {
  font-size: 1.5em;
  text-align: center;
}
@media (max-width: 767px) {
  .photos .container .photos_text p {
    font-size: 1em;
  }
}
.photos .container .photos_items {
  display: flex;
  margin-left: 2em;
}
@media (max-width: 767px) {
  .photos .container .photos_items {
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
}
.photos .container .photos_items .photos_item {
  width: 14em;
  margin: 1em;
  border-radius: 2em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 1s;
}
@media (max-width: 767px) {
  .photos .container .photos_items .photos_item {
    width: 7em;
    margin: 0.5em;
    border-radius: 1em;
  }
}
.photos .container .photos_items .photos_item:hover {
  transform: scale(2);
}

.ImageModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 767px) {
  .ImageModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    padding: 10px; /* Dostosuj wielkość paddingu do preferencji */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }
}

.ImageModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .ImageModalOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ImageModalClose {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
  background: none;
  border: none;
  color: #000000;
  padding: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .ImageModalClose {
    top: 10px;
    right: 10px;
  }
}

.modal_icons {
  position: absolute;
  font-size: 3em;
  bottom: 50%;
}
@media (max-width: 767px) {
  .modal_icons {
    bottom: 40%;
  }
}
.modal_icons:nth-of-type(1) {
  left: 1%;
}
@media (max-width: 767px) {
  .modal_icons:nth-of-type(1) {
    left: 0.1%;
  }
}
.modal_icons:nth-of-type(2) {
  left: 95%;
}
@media (max-width: 767px) {
  .modal_icons:nth-of-type(2) {
    left: 85%;
  }
}

footer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: #4c5761;
}

.contact {
  background: #66707a;
  padding: 2em 0;
  font-family: "Open Sans", sans-serif;
}
.contact .container {
  display: flex;
  flex-direction: column;
}
.contact .container h2 {
  font-size: 2em;
  margin: 0;
}
.contact .container p {
  font-weight: bolder;
}
.contact .container .contact_text_container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .contact .container .contact_text_container {
    flex-direction: column;
    align-items: center;
  }
}
.contact .container .contact_text_container .map {
  width: 30%;
}
@media (max-width: 767px) {
  .contact .container .contact_text_container .map {
    width: 80%;
  }
}
.contact .container .contact_text_container .contact_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalogues {
  background: #d8e3ed;
  font-family: "Open Sans", sans-serif;
  padding: 4em 0;
}
.catalogues .container {
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .catalogues .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-width: 300px;
  }
}
.catalogues .container .catalogues_items_container {
  flex-direction: column;
  display: flex;
}
.catalogues .container .catalogues_items_container .catalogues_items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .catalogues .container .catalogues_items_container .catalogues_items {
    flex-wrap: wrap;
  }
}
.catalogues .container .catalogues_items_container .catalogues_items .text {
  text-align: center;
}
.catalogues .container .catalogues_items_container .catalogues_items .catalogues_item {
  width: 13em;
  height: auto;
  margin: 2em;
  transition: transform 0.5s;
}
@media (max-width: 767px) {
  .catalogues .container .catalogues_items_container .catalogues_items .catalogues_item {
    width: 6em;
    height: auto;
    margin: 1em;
  }
}
.catalogues .container .catalogues_items_container .catalogues_items .catalogues_item:hover {
  transform: scale(1.5);
}
.catalogues .container .catalogues_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
@media (max-width: 767px) {
  .catalogues .container .catalogues_text {
    width: 100%;
  }
}
.catalogues .container .catalogues_text h1 {
  font-size: 4rem;
  text-align: center;
}
@media (max-width: 767px) {
  .catalogues .container .catalogues_text h1 {
    font-size: 2rem;
  }
}
.catalogues .container .catalogues_text p {
  font-size: 1.5em;
  text-align: center;
}
@media (max-width: 767px) {
  .catalogues .container .catalogues_text p {
    font-size: 1em;
  }
}

.CertyficatesSite {
  background: #d8e3ed;
  padding: 4em 0;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .CertyficatesSite {
    padding: 2em 0;
  }
}
.CertyficatesSite .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .CertyficatesSite .container {
    flex-direction: column;
    align-items: center;
  }
}
.CertyficatesSite .container .certyficatesSite_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
@media (max-width: 767px) {
  .CertyficatesSite .container .certyficatesSite_text_container {
    width: 100%;
  }
}
.CertyficatesSite .container .certyficatesSite_text_container h1 {
  font-size: 4rem;
  margin: 0.5em;
}
@media (max-width: 767px) {
  .CertyficatesSite .container .certyficatesSite_text_container h1 {
    font-size: 2rem;
    margin: 0.5em;
  }
}
.CertyficatesSite .container .certyficatesSite_text_container p {
  font-size: 1.5em;
  text-align: center;
}
@media (max-width: 767px) {
  .CertyficatesSite .container .certyficatesSite_text_container p {
    font-size: 1em;
  }
}
.CertyficatesSite .container .certyficatesSite_items_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media (max-width: 767px) {
  .CertyficatesSite .container .certyficatesSite_items_container {
    width: auto;
  }
}
.CertyficatesSite .container .certyficatesSite_items_container img {
  margin: 2em;
  width: 80%;
  border-radius: 4em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}
@media (max-width: 767px) {
  .CertyficatesSite .container .certyficatesSite_items_container img {
    border-radius: 2em;
  }
}
.CertyficatesSite .container .certyficatesSite_items_container img:hover {
  transform: scale(1.05);
}
.CertyficatesSite .container .certyficatesSite_items_container button {
  border: none;
  padding: 1.5em 4em;
  border-radius: 3em;
  font-size: 1.5em;
  font-weight: bolder;
  background: #09a9de;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: opacity ease-in-out 0.3s, transform 0.5s;
}
@media (max-width: 767px) {
  .CertyficatesSite .container .certyficatesSite_items_container button {
    padding: 0.75em 1.5em;
    font-size: 1.5em;
    margin-top: 1em;
  }
}
.CertyficatesSite .container .certyficatesSite_items_container button:hover {
  opacity: 0.4;
  transform: scale(1.1);
}

.Form {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  padding: 4em 0;
}
.Form .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .Form .container {
    flex-direction: column;
  }
}
.Form .container .form_text {
  width: 55%;
}
@media (max-width: 767px) {
  .Form .container .form_text {
    width: 100%;
  }
}
.Form .container .form_text img {
  width: 100%;
}
.Form .container form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .Form .container form {
    width: 100%;
  }
}
.Form .container form h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5em;
}
@media (max-width: 767px) {
  .Form .container form h1 {
    font-size: 2rem;
  }
}
.Form .container form .form_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Form .container form .form_item label {
  width: 52%;
  font-size: 1.2em;
  margin: 1em 0 0.5em 0;
  font-weight: bolder;
}
.Form .container form .form_item input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  padding: 0 0.5em;
  width: 50%;
  height: 3em;
  border-radius: 1em;
  border: solid 3px #D3D3D3;
}
@media (max-width: 767px) {
  .Form .container form .form_item input {
    width: 70%;
    font-size: 1em;
  }
}
.Form .container form .form_item .message {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  padding: 0.5em;
  width: 50%;
  height: 15em;
  border-radius: 1em;
  border: solid 3px #D3D3D3;
}
@media (max-width: 767px) {
  .Form .container form .form_item .message {
    font-size: 1em;
    width: 70%;
  }
}
.Form .container form .form_btn {
  margin: 2em;
  border: none;
  padding: 1em 6em;
  border-radius: 3em;
  font-weight: bolder;
  font-size: 1.5em;
  background: #09a9de;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: opacity ease-in-out 0.3s, transform 0.5s;
}
@media (max-width: 767px) {
  .Form .container form .form_btn {
    padding: 0.75em 3em;
    font-size: 1.5em;
    margin-top: 1em;
  }
}
.Form .container form .form_btn:hover {
  opacity: 0.4;
  transform: scale(1.1);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about_us {
  animation-name: appear;
  animation-duration: 5s;
}

.example {
  animation-name: appear;
  animation-duration: 3s;
}

.plus {
  animation-name: appear;
  animation-duration: 3s;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
}
@media (max-width: 767px) {
  .container {
    max-width: 300px;
  }
}

/*# sourceMappingURL=App.css.map */
