@import "settings/_all.scss";
@import "style/_all.scss";
@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.home{
  animation-name: appear;
  animation-duration:5s ;
}


@keyframes slide {
  100% { top: 70px; }
}
#slide {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

.example{
  animation-name: appear;
  animation-duration:3s ;
}
.container {
  margin: 0 auto;
  max-width: 90%;
  @include tablet{
    max-width: 90%;
  }
  @include phone{
    max-width: 80%;
  }

}

