.about_us {
  .about_us_items {
    display: flex;
    img {
      position: relative;
      top:6em;
      opacity: 0.6;
      border-radius:10em ;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    .about_us_text_item {
      position: relative;
      top:6em;
      left: 2em;
      h1 {
        font-size: 4em;
        text-align: center;
      }
      p {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
}