
.about_us {
  font-family: $font-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23vh 2vh 15vh 2vh;

  @include phone {
    height: auto;
    padding: 10vh 2vh 0 2vh;
  }
  @include tablet {
    height: auto;
    padding: 4vh 0;
  }
  .container{
    max-width: 2100px;
    justify-content: space-between;
  }
  .about_us_items {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    @include phone {
      flex-direction: column;
      align-items: center;
    }
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
    .about_us_img{
      transform: scaleX(-1);

      width: 100%;
      max-width:50% ;
      height: auto;
      border-radius: 2em;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      transition: transform 0.5s ease,opacity 0.3s;
      @include phone {

        max-width: 100%;
      }
      @include tablet {
        border-radius: 6em;
        max-width: 100%;
      }

    }
    .about_us_text_item {
      position: relative;
      color: white;
      background-color: #005e78;
      border-radius: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      max-width: 40%;
      padding: 2em 0;
      @include phone {
        margin-top: 2em;
        padding: 1em;
        max-width: 100%;
        position: static;
      }
      @include tablet {
        margin-top: 1em;
        padding: 1em;

        max-width: 100%;
      }
      .about_us_logo{
        position: absolute;
        width: 20%;
        top:-9em;
        @include phone {
        position: static;
        width: 15%;
      }
      }
      h1 {
        font-size: $font-size-desktop-h1;
        text-align: center;
        margin-bottom: 0;
        @include phone {
          font-size: $font-size-phone-h1;
          margin: 0;
        }
        @include tablet {
         margin-top: 0;
          font-size: $font-size-tablet-h1;
        }
      }
      p {
        width: 80%;
        font-size: $font-size-desktop-p;
        text-align: center;
        @include phone {
          margin: 0.5em;
          font-size:calc($font-size-phone-p);
          width: 100%;
        }
        @include tablet {
          width: 100%;
          font-size: $font-size-tablet-p;
          margin-bottom: 0;
        }
      }
      p:nth-of-type(2) {
        font-weight: bolder;
      }
      button {
        margin: 1em 0;
        border: none;
        padding: 1em 4em;
        border-radius: 3em;
        font-weight: bolder;
        font-size: 1.5rem;
        background: #05b2e2;
        color: #ffffff;
        font-family: $font-base;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        transition: opacity ease-in-out 0.3s, transform 0.5s;
        @include phone {
          padding: 0.75em 3em;
          font-size: 1em;
          margin-top: 1em;
        }
        @include tablet {
          padding: 1.25em 5em;
          font-size: 1.5em;
          margin-top: 1em;
        }
        &:hover {
          opacity: 0.4;
          transform: scale(1.1);
        }
      }
    }
  }
}
