.catalogues{
  background: #d8e3ed;
  font-family: $font-base;
  padding: 4em 0;
  .container{
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    @include phone{
      flex-direction:column-reverse;
      flex-wrap: wrap;
    }
    .catalogues_items_container {
      flex-direction: column;
      display: flex;
      .catalogues_items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        @include phone{
          flex-wrap: wrap;
        }
        p{
          text-align: center;
        }
        .catalogues_item {
          width: 13em;
          height:auto;
          margin: 2em;
          @include phone{
            width: 6em;
            height: auto;
            margin: 1em;
          }
        }
      }
    }
    .catalogues_text{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 40%;
      @include phone{
        width: 100%;
      }
      h1{
        font-size: 4rem;
        text-align: center;
        @include phone{
          font-size: 2rem;
        }
      }
      p{
        font-size: 1.5em;
        text-align: center;
        @include phone{
          font-size: 1em;
        }
      }
    }
  }
}