.catalogues {
  display: flex;
  align-items: center;
  background:#F5F8FE;
  color: #ffffff;
  padding-bottom: 32px;
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;

    .catalogues_items_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .catalogues_items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        .text {
          text-align: center;
        }
        .catalogues_item {
          width: 125px;
          transition: transform 0.5s;
          @include phone {
            width: 77.5px;
          }

          &:hover {
            transform: scale(1.5);
          }
        }
      }
    }
    .catalogues_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding: 32px;
      color: #000000;
      position: relative;
      @include phone {
      width: 90%;
        padding: 32px 0 ;
      }
      h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin-top: 32px;
        @include phone {
          margin: 0;
        }
      }
      p {
        font-size: 1rem;
        text-align: center;
        margin: 32px 0;
        line-height: 20px;
        color: #9F9F9F;
      }
    }
  }
}
