.Certificates {
  text-align: center;
  padding: 2em 0;
  font-family: $font-base;
  background: #d8e3ed;
  h1 {
    font-size: 4em;
    margin: 0;
    @include phone{
      font-size: 2em;
    }
  }
  .Certificates_items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include phone{
      flex-direction: row;
    }
    .Certificates_item {
      margin: 2em;
      width: 20%;
      border-radius: 4em;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      @include phone{
        border-radius: 2em;
        width:70%;
      }
    }
  }
}
