.CertyficatesSite {
  display: flex;
  align-items: center;
  font-family: $font-base;
  padding: 20vh 0 0 0;
  @include phone {
    padding-top: 12vh;
    padding-bottom: 2vh;
  }
  @include tablet{
    padding-top: 14vh;
    padding-bottom: 0;
  }
  .container  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include phone {
      flex-direction: column;
    }
    @include tablet{
      flex-direction: column;
    }
    .certyficatesSite_text{
      position: relative;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;
      background-color: #005e78;
      border-radius:2em;
      padding: 1.5vw;
      @include phone{
        margin: 1vh 0 0 0 ;
        padding: 4vw;
        width: 100%;
      }
      @include tablet{
        width: 80%;
        margin: 1vh 0 0 0 ;
        padding: 2.5vw;
      }
      .certyficatesSite_logo{
        position: absolute;
        top: -5% ;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15%;
       @include phone{
         position: static;
         transform: none;
       }
        @include tablet{
          transform: none;
          position: static;
        }
      }
      h1 {
        font-size: $font-size-desktop-h1;
        margin-bottom:0 ;
        @include phone {
          font-size: $font-size-phone-h1;
          margin: 0;
        }
        @include tablet {
          font-size: $font-size-tablet-h1;
          margin: 0;
        }
      }
      p {
        font-size: $font-size-desktop-p;
        text-align: center;
        @include phone {
          font-size: $font-size-phone-p;
        }
        @include tablet {
          font-size: $font-size-tablet-p;
        }
      }
    }
    .certyficatesSite_items_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include phone {
        width: auto;
      }
       img{
        margin: 2vh;
        width: 30vw;
        border-radius: 4em;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.5s;
        @include phone {
          border-radius: 2em;
          width: 100%;
        }
        @include tablet{
          width: 70%;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
      button {
        border: none;
        padding: 1vw 3vw;
        border-radius: 3em;
        font-size: 1.5vh;
        font-weight: bolder;
        background: #05b2e2;
        color: #ffffff;
        font-family: $font-base;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        transition: opacity ease-in-out 0.3s, transform 0.5s;
        cursor: pointer;
        @include phone {
          padding: 6vw 12vw;
          font-size: 2vh;
          margin-top: 1vh;
        }
        @include tablet{
          font-size: 2vh;
          padding: 3vw 6vw;
        }
        &:hover {
          opacity: 0.4;
          transform: scale(1.1);
        }
      }
    }
  }
}
