.CertyficatesSite {
  display: flex;
  align-items: center;
  .container  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include phone {
      flex-direction: column;
    }
    .certyficatesSite_text{
      position: relative;
      color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      padding: 32px;
      @include phone{
        width: 90%;
        padding: 32px 0;
      }
      button {
        padding: 15px 50px;
        border: none;
        font-size: 1rem;
        font-weight: bolder;
        background: #05b2e2;
        color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: opacity ease-in-out 0.3s, transform 0.5s;
        cursor: pointer;
        margin-top: 16px;
        &:hover {
          opacity: 0.4;
          transform: scale(1.1);
        }
      }
      h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        margin: 32px 0;
        line-height: 20px;
      }
    }
    .certyficatesSite_items_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include phone {
        width: auto;
      }
       img{
        margin: 36px;
        width: 450px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
        @include phone {
          max-width: 90%;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
