.Certificates {
  text-align: center;
  padding: 32px 0;

  background:#F5F8FE;
  h1 {
    font-size: 2.5rem;
    margin: 16px 0  ;
    font-weight: 600;
  }
  .Certificates_items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include phone{
      flex-direction: row;
    }
    .Certificates_item {
      margin: 2em;
      width: 20%;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      @include phone{
        width:70%;
      }
    }
  }
}
