.contact {
  background: #66707a;
  padding: 2vh 0;
  font-family: $font-base;
  @include phone{
    padding: 5vh 0 2vh 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    h2{
      font-size:calc( $font-size-desktop-h2) ;
      margin: 0;
      @include phone{
        font-size:calc( $font-size-phone-h2);
      }
      @include tablet{
        font-size: calc($font-size-tablet-h2);
      }
    }
    p{
      font-size: calc($font-size-desktop-p);
      font-weight: bolder;
      @include phone{
        font-size: calc($font-size-phone-p );
      }
      @include tablet{
        font-size: calc($font-size-tablet-p );
      }
    }
    .contact_text_container {
      display: flex;
      justify-content: space-around;
      @include phone{
        flex-direction: column;
        align-items: center;
      }
      .map {
        width: 30%;

        @include phone{
          width: 80%;
        }
      }
      .contact_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}