footer{
  font-family: $font-base;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  background:#4c5761;
  font-weight: bolder;
  @include phone{
    padding: 4vw 0;
  }
  @include tablet{
    font-size: $font-size-tablet-p;
    padding: 3vw 0;
  }

}