footer{
  font-family: $font-base;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background:#4c5761;
  font-weight: bolder;
  @include phone{
    padding: 2vh 0;
  }
}