
.Form {
  display: flex;
  align-items: center;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include phone {
      flex-direction: column;
    }
      .question_img {
        width:400px;
        position: relative;
        right: 250px;
        @include phone{
          display: none;
        }
      }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      color: #000000;
      align-items: flex-start;
      width: 25%;
      @include phone{
        align-items: center;
      width: 80%;
      }
        input,textarea {
          background-color: #F5F8FE;
          font-size: 1rem;
          padding:16px;
          width: 100%;
          border: none;
          margin: 8px 0;
          @include phone {

          }

        }
        .message {
        font-family: $font-base;
        }
      }
    .checkbox_container{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .checkbox,  input[type="checkbox"]{
        width: auto;
      }
      .checkbox_p{
        margin: 0 0.5rem;
        font-size: 0.5rem;

      }
    }

    .form_btn {
        border: none;
        font-size: 1rem;
        padding: 15px 50px;
        font-weight: bolder;
        background: #05b2e2;
        color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: opacity ease-in-out 0.3s, transform 0.5s;
        cursor: pointer;
        margin-top: 16px;


        &:hover {
          opacity: 0.4;
          transform: scale(1.1);
        }
      }
    }
  }

.submitted{
  margin-top: 16px;
  padding: 16px;
  background-color: green;
  color: #ffffff;
  font-weight: bolder;
  font-size: 0.8rem;
}
.form_h1{
  display: none;
  @include phone {
    display: block;
    font-size: 2rem;
    margin: 16px;
    font-weight: 600;
  }
}
