
.Form {
  font-family: $font-base;
  padding: 12vh 0 10vh 0;
  display: flex;
  align-items: center;
  @include phone {
    height: auto;
    padding: 10vh 0 8vh 0
  }
  @include tablet{

  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include phone {
      flex-direction: column;
      align-items: center;
    }

    .form_text {
      width: 100%;
      @include tablet{
        display: flex;
        align-items: center;
      }
      img {
        width: 80%;
        @include phone{
          display: none;
        }
      }
    }

    .thank_you {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .thank_you_h1 {
        font-size: 3rem;

        @include phone {
          text-align: center;
          font-size: 2rem;
        }
      }

      p {
        font-size: $font-size-desktop-p;

        @include phone {
          font-size: $font-size-phone-p;
          text-align: center;
        }
        @include tablet{
          font-size: $font-size-tablet-p;
        }
      }
    }

    form {
      padding: 2em 0;
      position: relative;
      width: 60%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
      background-color: #005e78;
      border-radius:2em;
      justify-content: space-evenly;
      @include phone{
        margin: 1em 0 0 0 ;
        padding: 1em 0;
        border-radius: 2em;
        width: auto;
        position: static;
      }
      @include tablet{
        margin: 1em 0 0 0 ;
        padding: 1em;
        border-radius: 5em;
        width: 50%;
      }
      .form_logo{
        position: absolute;
        width: 20%;
        top:-7.5em;
        @include phone{
          position: static;
        }
      }
      h1 {

        font-size: $font-size-desktop-h1;
        text-align: center;


        @include phone {
          margin: 0;
          font-size: $font-size-phone-h1;
        }
        @include tablet{
          font-size: $font-size-tablet-h1;
        }
      }

      .form_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        @include phone{
          width: 100%;
        }
        @include tablet{
          width: 90%;

        }
        label {
          width: 100%; // Changed width to 100% for phones
          font-size: 1.2em;
          margin: 1em 0 0.5em 0;
          font-weight: bolder;

          @include phone{
            text-align: center;

          }
          @include tablet{
            text-align: center;

          }
        }

        input {
          font-family: $font-base;
          font-size: 1rem;
          padding: 0 0.5em;
          width: 100%; // Changed width to 100% for phones
          height: 3em;
          border-radius: 1em;
          border: solid 3px #D3D3D3;

          @include phone {
            width: 70%;
            font-size: 1em;
          }
        }

        .error-message {
          font-size: 1.2em;
          font-weight: bolder;
        }

        .message {
          font-family: $font-base;
          font-size: 1rem;
          padding: 0.5em;
          width: 100%; // Changed width to 100% for phones
          height: 15em;
          border-radius: 1em;
          border: solid 3px #D3D3D3;

          @include phone {
            font-size: 1em;
            width: 70%;
          }
          @include tablet{
            height: 10em;
          }
        }
      }

      .form_btn {
        margin: 2em;
        border: none;
        padding: 1em 6em;
        border-radius: 3em;
        font-weight: bolder;
        font-size: 1.5em;
        background:#05b2e2;
        color: #ffffff;
        font-family: $font-base;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        transition: opacity ease-in-out 0.3s, transform 0.5s;

        @include phone {
          padding: 0.75em 3em;
          font-size: 1.5em;
          margin-top: 1em;
        }

        &:hover {
          opacity: 0.4;
          transform: scale(1.1);
        }
      }
    }
  }
}
