.header {
  color: #000000;
  background: #ffffff;
  font-weight: bolder;
  font-family: $font-base;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone{
      align-items: center;
      flex-direction: column;
    }
    .h1_hamburg{
      width: 100%;
      justify-content: space-between;
      @include phone{
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
    h1{font-size: 2em;
      @include phone{
        margin: 0.5em 0;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      height: auto;
      z-index: 3;
      @include phone{
       flex-direction: column;
      }
      .menu_item {
        padding: 1.8em;
        margin: 0;
        border-radius: 2em;
        transition: opacity ease-in-out 0.3s, transform 0.5s;
        @include phone{
          padding: 1em;
        }

        &:hover{
          opacity: 0.4;
          transform: scale(1.5);
        }

      }
    }
    .hamburger_menu_items{
      display: flex;
      align-items: center;
      flex-direction: column;
      background: #ffffff;
    }
  }
  .contact_header{
    @include phone{
      display: none;
    }
    p:hover{
      color:yellow;

    }
  }
}
.header.sticky {
  position: sticky;
  top: 0;
  z-index: 2;

}

