.header {
  color: #000000;
  font-weight: bolder;
  z-index: 3;
  transition: all ease-in-out 0.5s;
  padding: 16px 0;
  position: relative;
  background-color: #ffffff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .h1_hamburg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include phone {
        justify-content: center;
        width: 100%;
      }

      .hamburger-menu {
        .icon{
          z-index: 2;
          @include phone{
            font-size: 2rem;
          }
        }
      }
    }
    .h1_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      @include phone{
        justify-content: space-around;
        width: 100%;

      }

      img {
        width: 50px;
        @include phone {
          width: 40px;
        }

      }
      h1 {

        font-size: 2.5rem;
        font-style: italic;
        font-weight: 600;
        margin-left: 16px;
        @include phone {
          font-size: 2rem;
          margin: 0;
        }
      }
    }
      .hamburger-menu{
        display: flex;
        align-items: center;
      }
    .menu.open{
      @include phone{
        height: 100vh;
        overflow: hidden;
      }


    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      @include phone {
        padding: 0;
        background-color: #ffffff;
        height: 0;
        position: absolute;
        width: 100%;
        top: 0;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        flex-direction: column;
      }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

      }
      .menu_item {
        margin: 0 32px ;
        transition: transform 0.3s ease, opacity 0.3s ease;
        font-size:1rem ;
        cursor: pointer;
        @include phone {
          padding: 32px;
        }

        &:hover {
          opacity: 0.4;
          transform: scale(1.2);
        }
      }
    }
    .contact_header {
      border: solid 1px  #4c5761;
      padding: 12px 32px;
      transition: all ease-in-out 0.5s;
      @include phone {
        display: none;
      }

      p{
        cursor: pointer;
      }
      &:hover {
        color: #ffffff;
        background-color: #4c5761;
      }
    }
  }
  &.sticky {
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #000000;
    z-index: 3;
  }
}
