.header {
  color: #ffffff;
  font-weight: bolder;
  font-family: $font-base;
  background-color: #005e78;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .h1_hamburg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include phone {
        justify-content: space-around;
      }
      @include tablet {
        justify-content: space-around;
      }
      .hamburger-menu {
        @include phone {
          font-size: 1vh;
        }
        @include tablet {
          font-size: 2vh;
        }
        .icon{
          @include phone{
            font-size: 2rem;
          }
          @include tablet{
            font-size: 3rem;
          }
        }
      }
    }
    .h1_logo {
      width: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      @include phone{
        justify-content: space-evenly;
        width: auto;
      }
      @include tablet{
        justify-content: space-around;
        width: auto;
      }
      img {
        width: 20%;
        margin-right:1em ;
        @include phone {
          width: 10%;
        }
        @include tablet {
          width: 10%;
        }
      }
      h1 {
        margin: 1.5vw 0;
        font-size: $font-size-desktop-h1-header;
        font-style: italic;
        color: #ffffff;
        @include phone {
          font-size: $font-size-phone-h1;
          margin: 3vh;
        }
        @include tablet {
          font-size: calc($font-size-tablet-h1 + 1rem);
          margin: 3vh;
        }
      }
    }
      .hamburger-menu{
        display: flex;
        align-items: center;
      }
    .menu.open{
      height: 62%;
      overflow: hidden;
      @include tablet{
        height: 72vh
      }
      @include tabletR{
        height: 100vh;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;

      @include phone {
        padding: 0;
        background-color: #005e78;
        height: 0;
        position: fixed;
        width: 100%;
        top: 50px;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        flex-direction: column;
      }
      @include tablet {
        padding: 0;
        height: 0;
        position: fixed;
        background-color: #005e78;
        width: 100%;
        top: 9%;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        flex-direction: column;
      }
      @include tabletR{


      }
    li {
        list-style: none;
        padding: 0.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      @include tabletR{
        padding: 0;
      }
      }
      .menu_item {
        color: white;
        padding:  1.5vw;
        margin: 0 1vh ;
        border-radius: 2em;
        transition: transform 0.3s ease, opacity 0.3s ease;
        font-size:1.5vh ;
        cursor: pointer;
        @include phone {
          padding: 1.3vh;
        }
        @include tablet {
          font-size: 1.8vh;
          padding: 3vw;
        }
        &:hover {
          opacity: 0.4;
          transform: scale(1.2);
        }
      }
    }
    .contact_header {
      @include phone {
        display: none;
      }
      @include tablet {
        display: none;
      }
      p{
        font-size:1.5vh;
        cursor: pointer;
        &:hover {
          color: yellow;
        }
      }

    }
  }
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}
