.loadingpage{
  background: #ffffff;
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      width: 10%;
      filter: drop-shadow(20px 5px 4px rgba(66, 68, 90, 1));
      @include phone{
        width: 30%;
        filter: drop-shadow(10px 1px 1px rgba(66, 68, 90, 1));
      }
      @include tablet{
        width: 20%;
        filter: drop-shadow(20px 4px 2px rgba(66, 68, 90, 1));
      }

    }
    .h1_Frozeko{
      position: relative;
      font-size: 14vh;
      color: #ffffff;
      -webkit-text-stroke: 0.3vw #005e78 ;
      text-transform: uppercase;
      -webkit-box-reflect: below 1px linear-gradient(transparent , #0004);
      line-height: 1em;
      outline: none;
      margin: 0;
      &::before{
        content: attr(datatype);
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        color:#005e78 ;
        -webkit-text-stroke: 0 #383d52;
        border-right: 4px solid #005e78 ;
        overflow: hidden;
        animation: animate 2s linear infinite;
      }
      @include phone{
        font-size: 7vh;
      }
      @include tablet{
        font-size: 10vh;
      }
    }
    .h1_Witamy {
      margin: 0;
      display: flex;
      position: relative;
      font-size: 14vh;
      color: #005e78;
      -webkit-text-stroke: 0.3vw #005e78;
      text-transform: uppercase;
      animation-name: appear;
      animation-duration:2.5s ;
      -webkit-box-reflect: below 1px linear-gradient(transparent , #0004);
      line-height: 1em;
      outline: none;
      &::before {
        content: attr(datatype);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #005e78;
        -webkit-text-stroke: 0 #383d52;
        overflow: hidden;
      }
      @include phone{
        font-size: 7vh;
      }
      @include tablet{
        font-size: 10vh;
      }
    }
  }
}
@keyframes animate {
  0%,10%,100%{
    width: 0;
    opacity: 0;
  }
  70%,90%{
  width: 100%;
    opacity: 1;
  }


}