
.slick-prev::before,
.slick-next::before {
  display: none;
}
.photos {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-base;
  padding-top: 20vh;
  @include phone {
    padding-top: 12vh;
  }
  @include tablet {
    padding-top: 12vh;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @include phone {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: column;
    }
    .photos_text {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #005e78;
      border-radius: 2em;
      padding: 2vw;
      width: 40%;
      @include phone {
        padding: 4vw;
        border-radius: 2em;
        width: 100%;
        position: static;
      }
      @include tablet {
        margin: 1vh 0 0 0;
        padding: 2.5vw;
        border-radius: 2em;
        width: 80%;
      }
      .photos_logo {
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15%;
        z-index: 1;
        @include phone {
          position: static;
          transform: none
        }
        @include tablet {
          position: static;
          width: 15%;
          transform: none;
        }
      }
      h1 {
        font-size: $font-size-desktop-h1;
        text-align: center;
        margin-bottom: 0;
        @include phone {
          margin: 0;
          font-size: $font-size-phone-h1;
        }
        @include tablet {
          font-size: $font-size-tablet-h1;
          margin: 0;
        }
      }
      p {
        font-size: $font-size-desktop-p;
        text-align: center;
        @include phone {
          font-size: $font-size-phone-p;
        }
        @include tablet {
          font-size: $font-size-tablet-p;
        }
      }
    }
    .photos_items {
      align-self: center;
      flex-direction: row;
      margin-left: 2vh;
      flex-wrap: wrap;
      width: 60%;

      @include phone {
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        justify-content: center;
      }
      @include tablet {
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
        width: 80%;
      }
      .slick-slider {
        display: flex;

        width: 100%;
        .slick-prev{
          left: -10px;
          @include tablet{
            right: 100%;
          }
          @include tabletR{
            left:-50px
          }
          @include phone{
            right: 95%;
          }
        }
        .slick-next{
          @include tablet {
            right: -20px;
          }
          @include tabletR{
            right: -50px;
          }
          @include phone{
            left: 95%;
          }
        }
        .slick-arrow {
          color: black;
          width: 50px;
          height: 50px;
          z-index: 1;
          @include phone {
            width: 10vw;
            height: 10vw;
          }
        }
        .photos_item {
          max-width: 80%;
          margin: 4vw 0 4vw 1.75vw;
          border-radius: 2em;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          transition: transform 1s;
          @include phone {
            margin: 4vw;
            border-radius: 1em;
            box-shadow: none;
            transform: none;
          }
          @include tablet {
            margin: 2vw;
            border-radius: 3em;
            box-shadow: none;
            transform: none;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
    .ImageModal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border: 1px solid #ccc;
      max-width: 100%;
      max-height: 100%;
      @include phone {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        padding: 10px; /* Dostosuj wielkość paddingu do preferencji */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
      }
    }
    .ImageModalOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      @include phone {
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ImageModalClose {
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: 2em;
      cursor: pointer;
      background: none;
      border: none;
      color: #000000;
      padding: 0;
      z-index: 2;
      @include phone {
        top: 10px;
        right: 10px;
      }
    }
    .modal_icons {
      position: absolute;
      font-size: 3em;
      bottom: 50%;
      cursor: pointer;
      @include phone {
        bottom: 40%;
      }
      &:nth-of-type(1) {
        left: 1%;
        @include phone {
          left: 0.1%;

        }
      }
      &:nth-of-type(2) {
        left: 95%;
        @include phone {
          left: 85%;
        }
      }
    }



    .slick-list{

    }