.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
  font-family: $font-base;
  @include phone{
    padding: 2em 0;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include phone{
      flex-direction: column;
    }
    .photos_text {
      h1 {
        font-size: 4em;
        display: flex;
        justify-content: center;
        @include phone{
          font-size: 2em;
        }
      }
      p {
        font-size: 1.5em;
        text-align: center;
        @include phone{
          font-size: 1em;
        }
      }
    }
      .photos_items {
        display: flex;
        margin-left: 2em;
        @include phone {
          flex-wrap: wrap;
          margin: 0;
          justify-content: center;
        }

        .photos_item {
          width: 14em;
          margin: 1em;
          border-radius: 2em;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          @include phone {
            width: 7em;
            margin: 0.5em;
            border-radius: 1em;
          }
        }
      }
    }
  }


.ImageModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  max-width: 100%;
  max-height: 100%;

  @include phone{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    padding: 10px; /* Dostosuj wielkość paddingu do preferencji */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }
}
.ImageModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  @include phone{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.ImageModalClose {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size:2em;
  cursor: pointer;
  background: none;
  border: none;
  color: #000000;
  padding: 0;
  z-index: 2;
  @include phone{
    top: 10px;
    right: 10px;
  }
}
  .modal_icons {
    position: absolute;
    font-size: 3em;
    bottom: 50%;
    @include phone{
      bottom: 40%;
    }
    &:nth-of-type(1) {
      left:1%;
      @include phone {
      left: 0.1%;

      }
    }
    &:nth-of-type(2) {
      left: 95%;
      @include phone {

        left:85%;
      }
    }
  }
