
.slick-prev::before,
.slick-next::before {
  display: none;
}
.photos {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include phone {
      flex-direction: column;
    }
    .photos_text {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 40%;
      @include phone {
        width: 90%;
      }
      h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        text-align: center;
        margin: 16px 0;
        line-height: 20px;
      }
    }
    .photos_items {
      align-self: center;
      flex-direction: row;
      margin-left: 16px;
      flex-wrap: wrap;
      width: 100%;

      @include phone {
        margin: 0;
        width: 100%;
        justify-content: center;
      }
      .slick-slider {
        display: flex;
        align-items: center;
        width: 100%;

        .slick-next{
          display: none;
        }
        .slick-arrow {
          color: black;
          position: relative;
          left: 0;
          top: 0;
          right: 0;
          z-index: 1;
          &:last-of-type{
            left: -40px;
          }
          @include phone {
            &:first-of-type{
              left: 10px;
            }
            &:last-of-type{
              left: -20px;
            }
          }

        }

        .photos_item {
          max-width: 80%;
          margin: 32px 0 32px 32px;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          transition: transform 0.5s ease;
          @include phone {
            box-shadow: none;
            transform: none;
         
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
    .ImageModal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border: 1px solid #ccc;
      max-width: 100%;
      max-height: 100%;
      @include phone {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        padding: 10px; /* Dostosuj wielkość paddingu do preferencji */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
      }
    }
    .ImageModalOverlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      @include phone {
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ImageModalClose {
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: 2em;
      cursor: pointer;
      background: none;
      border: none;
      color: #000000;
      padding: 0;
      z-index: 2;
      @include phone {
        top: 10px;
        right: 10px;
      }
    }
    .modal_icons {
      position: absolute;
      font-size: 3em;
      bottom: 50%;
      cursor: pointer;
      @include phone {
        bottom: 40%;
      }
      &:nth-of-type(1) {
        left: 1%;
        @include phone {
          left: 0.1%;

        }
      }
      &:nth-of-type(2) {
        left: 95%;
        @include phone {
          left: 85%;
        }
      }
    }

