.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8em 0;
  font-family: $font-base;
  height: 70vh;
  @include phone{
    padding: 3em 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;


    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1 {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 1em;
        font-weight: bolder;
        @include phone {
          font-size: 1.5rem;
          text-align: center;
        }
      }
      .h2_help_container {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 1.5rem;
          padding: 1em;
          margin: 1em 2em;
          font-weight: bolder;
          text-align: center;
          transition: transform 0.5s;
          @include phone {
            font-size: 0.8em;
            padding: 0.5em;
            margin: 0.5em 1em;
          }
          &:first-of-type {
            border: 1px solid #707070;
          }
          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
    .examples {
      display: flex;
      justify-content: space-evenly;
      width: 120%;
      align-items: center;
      height: 326px;
        @include phone {
        display: flex;
        flex-wrap: wrap;
        height: auto;
      }
      .example {
        width: 30em;
        display: flex;
        justify-content: center;

        @include phone {
          width: 15em;
        }

        .left_side {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 0 1em;
                 
          h3 {
            font-size: 2em;
            text-align: center;
            margin-bottom: 0.5em;
            @include phone {
              font-size: 1em;
              text-align: center;
            }
          }
          p {
            font-size: 1.5em;
            text-align: center;
            @include phone {
              font-size: 1em;
              margin: 0;
            }
          }
        }
      }
    }
    .carousel_numbers {
      display: flex;
      position: relative;
      @include phone{
        margin-top: 1em;
      }
      .number {
        font-weight: bolder;
        width: 40px;
        height: 50px;
        margin: 2em 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
        &:hover{
          transform: scale(1.5);
        }
      }
    }
  }
}
