.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10em;
  background: #d8e3ed;
  .top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 3em;
      margin-top: 2em;
      margin-bottom: 1em;
      font-weight: bolder;
    }
    .h2_help_container {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 24px;
        padding: 1em;
        margin:1em 2em;
        font-weight: bolder;
        &:first-of-type {
          border: 1px solid #707070;
        }
      }
    }
  }
  .examples{
    .example{
      width: 30em;
      display: flex;
      justify-content: center;
      .left_side{
        display: flex;
        align-items: center;
        flex-direction: column;
        h3{
          font-size: 26px;
        }
        p{
          font-size: 1.5em;
          text-align: center;
        }
      }
    }
  }
  .carousel_numbers{
    display: flex;
    position: relative;
    .number{
      width: 40px;
      height: 50px;
      margin: 1em 1em 2em 0em;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-of-type{
        border: 1px solid #707070;
      }
    }
  }
}